/*all common css*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/*all common css*/

/*back-to-top part start*/

.back-to-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.back-to-top i{
    height: 40px;
    width: 40px;
    background: #000000;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
}

/*back-to-top part end*/
